@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-onyx-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.bg-rainbow {
  background: linear-gradient(
    90deg,
    #ff1282 0%,
    #ff2e5f 10%,
    #ff533d 20%,
    #fe7d15 30%,
    #ffa202 40%,
    #ffc702 50%,
    #e2de00 60%,
    #a7ee26 70%,
    #45f25b 80%,
    #00ee8c 90%,
    #01e5b4 100%
  );
}

.bg-striped {
  background: repeating-linear-gradient(-45deg, #000, #000 12px, #fff 0, #fff 24px);
}
